<template>
    <div>
        <p>Main menu componet</p>
        <p><input type="text" v-model="name"></p>
        <button @click="$emit('closeMenu',name)">close menu</button>
    </div>
</template>

<script>
export default {
    // name: 'MainmMenu',
    // emits:['closeMenu'],
    emits : {
        closeMenu(name){
            if (!name){
                return false
            } else {
                return true
            }
        }
    },
data (){
    return {
        name: '',
    }
},
}
</script>
